<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Workouts</title>
  </head>
  <%- include('../partials/_navbar.ejs') %>
  <body>
    <h1><%= workout.title %></h1>
    <form
      action="/workouts/<%= workout._id %>/exercises/<%= workout.exercise._id%>"
      method="POST"
    >
      <button type="submit">Delete Workout</button>
    </form>
    <p>Exercises:</p>

    <% workout.exercise.forEach((ex) => { %>
    <div>
      <p>
        <a href="">
          Name:<%= ex.name %> Sets: <%= ex.sets %> Reps:<%= ex.reps%> Weight:<%=
          ex.weight %></a
        >
      </p>
      <form
        action="/workouts/<%= workout._id %>/exercises/<%= ex._id %>?_method=PUT"
        method="POST"
      >
        <button data-id="<%= ex._id %>">Edit</button>
      </form>
      <form
        action="/workouts/<%= workout._id %>/exercises/<%= ex._id%>?_method=DELETE"
        method="POST"
      >
        <button type="submit">Delete Exercise</button>
      </form>
    </div>

    <% }) %>

    <button type="submit">Add exercise</button>

    <form action="/workouts/<%= workout._id %>" method="POST">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" required />
      <label for="sets"> Sets</label>
      <input type="number" name="sets" id="sets" required />
      <label for="reps"> reps</label>
      <input type="number" name="reps" id="reps" required />
      <label for="weight"> Weight</label>
      <input type="number" name="weight" id="weight" required />
      <button type="submit">submit</button>
    </form>
  </body>
</html>
